In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

## Cost of Living

In [4]:
URL = 'https://www.numbeo.com/cost-of-living/country_result.jsp?country=Japan&displayCurrency=USD'
response = requests.get(URL)

In [5]:
response.status_code

200

In [6]:
soup = BS(response.text)

In [7]:
soup.find('table', attrs={'class':'data_wide_table new_bar_table'})

<table class="data_wide_table new_bar_table"><tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-dining.svg"/>
</span>
<div class="category_title">Restaurants</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Japan&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DJapan%26displayCurrency%3DUSD&amp;current=0&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices" style="padding-left: 132px; text-align: left;">Range</th>
</tr>
<tr><td>Meal, Inexpensive Restaurant </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">6.56 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.93</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 34px;"></span><span class="barTextRight">11.14</span></td>
</tr>
<tr><td class="tr_highlighted">Meal for 2 People, Mid-range Restaurant, Three-course </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">39.33 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
26.22</span><span class="barLeft" style="width: 9px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 67px;"></span><span class="barTextRight">131.11</span></td>
</tr>
<tr><td>McMeal at McDonalds (or Equivalent Combo Meal) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">4.92 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.26</span><span class="barLeft" style="width: 6px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 9px;"></span><span class="barTextRight">5.90</span></td>
</tr>
<tr><td class="tr_highlighted">Domestic Beer (1 pint draught) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.95 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.64</span><span class="barLeft" style="width: 21px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 38px;"></span><span class="barTextRight">5.24</span></td>
</tr>
<tr><td>Imported Beer (12 oz small bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">3.61 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
2.16</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 40px;"></span><span class="barTextRight">6.56</span></td>
</tr>
<tr><td class="tr_highlighted">Cappuccino (regular) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">3.00 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.31</span><span class="barLeft" style="width: 27px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 37px;"></span><span class="barTextRight">5.24</span></td>
</tr>
<tr><td>Coke/Pepsi (12 oz small bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.01 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.72</span><span class="barLeft" style="width: 14px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 45px;"></span><span class="barTextRight">1.97</span></td>
</tr>
<tr><td class="tr_highlighted">Water (12 oz small bottle)  </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">0.74 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.66</span><span class="barLeft" style="width: 5px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 37px;"></span><span class="barTextRight">1.31</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-grocery-store.svg"/>
</span>
<div class="category_title">Markets</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Japan&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DJapan%26displayCurrency%3DUSD&amp;current=1&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>Milk (regular), (1 gallon) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.38 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.97</span><span class="barLeft" style="width: 12px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 16px;"></span><span class="barTextRight">7.25</span></td>
</tr>
<tr><td class="tr_highlighted">Loaf of Fresh White Bread (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.36 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.71</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 58px;"></span><span class="barTextRight">2.97</span></td>
</tr>
<tr><td>Rice (white), (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.60 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.86</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 42px;"></span><span class="barTextRight">2.97</span></td>
</tr>
<tr><td class="tr_highlighted">Eggs (regular) (12) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.13 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.42</span><span class="barLeft" style="width: 15px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 14px;"></span><span class="barTextRight">2.75</span></td>
</tr>
<tr><td>Local Cheese (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.07 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
2.38</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 60px;"></span><span class="barTextRight">14.87</span></td>
</tr>
<tr><td class="tr_highlighted">Chicken Fillets (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.83 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.34</span><span class="barLeft" style="width: 25px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 25px;"></span><span class="barTextRight">4.26</span></td>
</tr>
<tr><td>Beef Round (1 lb) (or Equivalent Back Leg Red Meat) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">7.46 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.57</span><span class="barLeft" style="width: 25px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 49px;"></span><span class="barTextRight">14.87</span></td>
</tr>
<tr><td class="tr_highlighted">Apples (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.12 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.07</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 54px;"></span><span class="barTextRight">4.46</span></td>
</tr>
<tr><td>Banana (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.05 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.59</span><span class="barLeft" style="width: 17px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 59px;"></span><span class="barTextRight">2.68</span></td>
</tr>
<tr><td class="tr_highlighted">Oranges (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.92 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.59</span><span class="barLeft" style="width: 26px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 50px;"></span><span class="barTextRight">4.46</span></td>
</tr>
<tr><td>Tomato (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.97 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.89</span><span class="barLeft" style="width: 26px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 40px;"></span><span class="barTextRight">3.57</span></td>
</tr>
<tr><td class="tr_highlighted">Potato (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.20 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.59</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 36px;"></span><span class="barTextRight">2.08</span></td>
</tr>
<tr><td>Onion (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.04 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.59</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 35px;"></span><span class="barTextRight">1.78</span></td>
</tr>
<tr><td class="tr_highlighted">Lettuce (1 head) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.26 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.66</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 27px;"></span><span class="barTextRight">1.97</span></td>
</tr>
<tr><td>Water (1.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">0.83 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.52</span><span class="barLeft" style="width: 17px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 28px;"></span><span class="barTextRight">1.31</span></td>
</tr>
<tr><td class="tr_highlighted">Bottle of Wine (Mid-Range) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">7.87 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
4.59</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 53px;"></span><span class="barTextRight">16.39</span></td>
</tr>
<tr><td>Domestic Beer (0.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">2.02 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.31</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 23px;"></span><span class="barTextRight">2.95</span></td>
</tr>
<tr><td class="tr_highlighted">Imported Beer (12 oz small bottle) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.69 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.58</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 23px;"></span><span class="barTextRight">3.93</span></td>
</tr>
<tr><td>Cigarettes 20 Pack (Marlboro) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">3.93 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.28</span><span class="barLeft" style="width: 7px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 8px;"></span><span class="barTextRight">4.59</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-drive-eta.svg"/>
</span>
<div class="category_title">Transportation</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Japan&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DJapan%26displayCurrency%3DUSD&amp;current=2&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>One-way Ticket (Local Transport) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.44 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.18</span><span class="barLeft" style="width: 8px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 29px;"></span><span class="barTextRight">2.29</span></td>
</tr>
<tr><td class="tr_highlighted">Monthly Pass (Regular Price) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">52.44 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
32.78</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 49px;"></span><span class="barTextRight">104.89</span></td>
</tr>
<tr><td>Taxi Start (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">3.83 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.28</span><span class="barLeft" style="width: 6px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 16px;"></span><span class="barTextRight">5.11</span></td>
</tr>
<tr><td class="tr_highlighted">Taxi 1 mile (Normal Tariff) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">4.59 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
2.74</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 25px;"></span><span class="barTextRight">6.96</span></td>
</tr>
<tr><td>Taxi 1hour Waiting (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">22.29 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
18.88</span><span class="barLeft" style="width: 7px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 18px;"></span><span class="barTextRight">30.81</span></td>
</tr>
<tr><td class="tr_highlighted">Gasoline (1 gallon) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">4.24 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
3.95</span><span class="barLeft" style="width: 2px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 3px;"></span><span class="barTextRight">4.49</span></td>
</tr>
<tr><td>Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">21,908.34 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
19,666.37</span><span class="barLeft" style="width: 3px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 2px;"></span><span class="barTextRight">22,360.66</span></td>
</tr>
<tr><td class="tr_highlighted">Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">16,561.83 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
16,060.87</span><span class="barLeft" style="width: 1px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 8px;"></span><span class="barTextRight">19,600.81</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/envelope-letter.svg"/>
</span>
<div class="category_title">Utilities (Monthly)</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Japan&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DJapan%26displayCurrency%3DUSD&amp;current=3&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">165.54 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
99.06</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 40px;"></span><span class="barTextRight">301.55</span></td>
</tr>
<tr><td class="tr_highlighted">Mobile Phone Monthly Plan with Calls and 10GB+ Data </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">25.46 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
14.42</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 34px;"></span><span class="barTextRight">42.98</span></td>
</tr>
<tr><td>Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">32.94 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">

In [8]:
cost_of_living = pd.read_html(str(soup.find('table', attrs={'class':'data_wide_table new_bar_table'})))[0]
cost_of_living

C:\Users\debor\AppData\Local\Temp\ipykernel_91792\2882931658.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  cost_of_living = pd.read_html(str(soup.find('table', attrs={'class':'data_wide_table new_bar_table'})))[0]

,Restaurants,Edit,Range
0,"Meal, Inexpensive Restaurant",6.56 $,3.93-11.14
1,"Meal for 2 People, Mid-range Restaurant, Three...",39.33 $,26.22-131.11
2,McMeal at McDonalds (or Equivalent Combo Meal),4.92 $,4.26-5.90
3,Domestic Beer (1 pint draught),2.95 $,1.64-5.24
4,Imported Beer (12 oz small bottle),3.61 $,2.16-6.56
...,...,...,...
59,Price per Square Feet to Buy Apartment in City...,474.64 $,"194.89-1,077.96"
60,Price per Square Feet to Buy Apartment Outside...,277.01 $,130.75-572.48
61,Salaries And Financing,Edit,NaN
62,Average Monthly Net Salary (After Tax),"2,178.34 $",NaN
63,"Mortgage Interest Rate in Percentages (%), Yea...",1.75,1.00-2.25

In [9]:
cost_of_living.to_csv('Tokyo_Cost_of_Living.csv', index=False)

## Crime

In [11]:
URL = 'https://www.numbeo.com/crime/country_result.jsp?country=Japan'
response = requests.get(URL)

In [12]:
response.status_code

200

In [13]:
soup = BS(response.text)

In [14]:
soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})

<table class="table_builder_with_value_explanation data_wide_table">
<tr><td class="columnWithName">Level of crime</td><td><div class="jquery_bar" id="level_of_crime"></div></td><td class="indexValueTd" style="text-align: right">18.96</td><td class="hidden_on_small_mobile"><span class="green_standard">
Very Low</span></td></tr>
<tr><td class="columnWithName">Crime increasing in the past 5 years</td><td><div class="jquery_bar" id="crime_increasing"></div></td><td class="indexValueTd" style="text-align: right">44.76</td><td class="hidden_on_small_mobile"><span class="yellow_neutral_standard">
Moderate</span></td></tr>
<tr><td class="columnWithName">Worries home broken and things stolen</td><td><div class="jquery_bar" id="worried_home_broken"></div></td><td class="indexValueTd" style="text-align: right">19.89</td><td class="hidden_on_small_mobile"><span class="green_standard">
Very Low</span></td></tr>
<tr><td class="columnWithName">Worries being mugged or robbed</td><td><div class="jquery_bar" id="worried_mugged_robbed"></div></td><td class="indexValueTd" style="text-align: right">18.96</td><td class="hidden_on_small_mobile"><span class="green_standard">
Very Low</span></td></tr>
<tr><td class="columnWithName">Worries car stolen</td><td><div class="jquery_bar" id="worried_car_stolen"></div></td><td class="indexValueTd" style="text-align: right">16.81</td><td class="hidden_on_small_mobile"><span class="green_standard">
Very Low</span></td></tr>
<tr><td class="columnWithName">Worries things from car stolen</td><td><div class="jquery_bar" id="worried_things_car_stolen"></div></td><td class="indexValueTd" style="text-align: right">19.18</td><td class="hidden_on_small_mobile"><span class="green_standard">
Very Low</span></td></tr>
<tr><td class="columnWithName">Worries attacked</td><td><div class="jquery_bar" id="worried_attacked"></div></td><td class="indexValueTd" style="text-align: right">21.11</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
Low</span></td></tr>
<tr><td class="columnWithName">Worries being insulted</td><td><div class="jquery_bar" id="worried_insulted"></div></td><td class="indexValueTd" style="text-align: right">25.05</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
Low</span></td></tr>
<tr><td class="columnWithName">Worries being subject to a physical attack because of your skin color, ethnic origin, gender or religion</td><td><div class="jquery_bar" id="worried_skin_ethnic_religion"></div></td><td class="indexValueTd" style="text-align: right">24.10</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
Low</span></td></tr>
<tr><td class="columnWithName">Problem people using or dealing drugs</td><td><div class="jquery_bar" id="problem_drugs"></div></td><td class="indexValueTd" style="text-align: right">22.11</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
Low</span></td></tr>
<tr><td class="columnWithName">Problem property crimes such as vandalism and theft</td><td><div class="jquery_bar" id="problem_property_crimes"></div></td><td class="indexValueTd" style="text-align: right">22.16</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
Low</span></td></tr>
<tr><td class="columnWithName">Problem violent crimes such as assault and armed robbery</td><td><div class="jquery_bar" id="problem_violent_crimes"></div></td><td class="indexValueTd" style="text-align: right">19.39</td><td class="hidden_on_small_mobile"><span class="green_standard">
Very Low</span></td></tr>
<tr><td class="columnWithName">Problem corruption and bribery</td><td><div class="jquery_bar" id="problem_corruption"></div></td><td class="indexValueTd" style="text-align: right">28.43</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
Low</span></td></tr>
</table>

In [15]:
crime = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

C:\Users\debor\AppData\Local\Temp\ipykernel_91792\3635083558.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  crime = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

In [16]:
crime = crime.drop(columns = [1])

In [17]:
crime = crime.rename(columns = {0 : 'Types of Crime', 2: 'Crime%', 3: 'Value'})
crime

                                       Types of Crime  Crime%     Value
0                                      Level of crime   18.96  Very Low
1                Crime increasing in the past 5 years   44.76  Moderate
2               Worries home broken and things stolen   19.89  Very Low
3                      Worries being mugged or robbed   18.96  Very Low
4                                  Worries car stolen   16.81  Very Low
5                      Worries things from car stolen   19.18  Very Low
6                                    Worries attacked   21.11       Low
7                              Worries being insulted   25.05       Low
8   Worries being subject to a physical attack bec...   24.10       Low
9               Problem people using or dealing drugs   22.11       Low
10  Problem property crimes such as vandalism and ...   22.16       Low
11  Problem violent crimes such as assault and arm...   19.39  Very Low
12                     Problem corruption and bribery   28.43       Low

In [18]:
crime.to_csv('Tokyo_crime.csv', index=False)

SAFETY IN JAPAN

In [20]:
safety = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

C:\Users\debor\AppData\Local\Temp\ipykernel_91792\2482010599.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  safety = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

In [21]:
safety = safety.drop(columns = [1])

In [22]:
safety = safety.rename(columns = {0 : 'Components of Safety', 2: 'Safety%', 3: 'Value'})
safety

                   Components of Safety  Safety% Value
0  Safety walking alone during daylight    79.97  High
1     Safety walking alone during night    73.95  High

In [23]:
safety.to_csv('Tokyo_safety.csv', index=False)

## Health Care

In [25]:
URL = 'https://www.numbeo.com/health-care/country_result.jsp?country=Japan'
response = requests.get(URL)

In [26]:
response.status_code

200

In [27]:
soup = BS(response.text)

In [28]:
health_care = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

C:\Users\debor\AppData\Local\Temp\ipykernel_91792\540973274.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  health_care = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

In [29]:
health_care = health_care.drop(columns = ['Satisfaction %'])

In [30]:
health_care = health_care.rename(columns = {'Satisfaction %.1' : 'Satisfaction %', 'Unnamed: 3': 'Value'})
health_care

,Component of health care surveyed,Satisfaction %,Value
0,Skill and competency of medical staff,79.42,High
1,Speed in completing examinations and reports,82.48,Very High
2,Equipment for modern diagnosis and treatment,85.55,Very High
3,Accuracy and completeness in filling out reports,80.45,Very High
4,Friendliness and courtesy of the staff,85.09,Very High
5,Satisfaction with responsiveness (waitings) in...,72.51,High
6,Satisfaction with cost to you,74.88,High
7,Convenience of location for you,82.04,Very High

In [31]:
health_care.to_csv('Tokyo_health_care.csv', index=False)

## Pollution

In [33]:
URL = 'https://www.numbeo.com/pollution/country_result.jsp?country=Japan'
response = requests.get(URL)

In [34]:
response.status_code

200

In [35]:
soup = BS(response.text)

In [37]:
pollution = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation'})))[0]

C:\Users\debor\AppData\Local\Temp\ipykernel_91792\1145219388.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pollution = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation'})))[0]

In [38]:
pollution = pollution.drop(columns = [1])

In [39]:
pollution = pollution.rename(columns = {0 : 'Types of Pollution', 2: 'Pollution%', 3: 'Value'})
pollution

                                 Types of Pollution  Pollution%     Value
0                                     Air Pollution       33.62       Low
1      Drinking Water Pollution and Inaccessibility       27.01       Low
2             Dissatisfaction with Garbage Disposal       29.08       Low
3                                  Dirty and Untidy       26.08       Low
4                         Noise and Light Pollution       43.97  Moderate
5                                   Water Pollution       36.77       Low
6    Dissatisfaction with Spending Time in the City       31.41       Low
7  Dissatisfaction with Green and Parks in the City       35.15       Low

In [40]:
pollution.to_csv('Tokyo_pollution.csv', index=False)

In [41]:
purity = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

C:\Users\debor\AppData\Local\Temp\ipykernel_91792\219648668.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  purity = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

In [42]:
purity = purity.drop(columns = [1])

In [43]:
purity = purity.rename(columns = {0 : 'Types of Purity', 2: 'Purity%', 3: 'Value'})
purity

                            Types of Purity  Purity%     Value
0                               Air quality    66.38      High
1  Drinking Water Quality and Accessibility    72.99      High
2             Garbage Disposal Satisfaction    70.92      High
3                            Clean and Tidy    73.92      High
4    Quiet and No Problem with Night Lights    56.03  Moderate
5                             Water Quality    63.23      High
6     Comfortable to Spend Time in the City    68.59      High
7                Quality of Green and Parks    64.85      High

In [44]:
purity.to_csv('Tokyo_purity.csv', index=False)