In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

## Cost of Living

In [4]:
URL = 'https://www.numbeo.com/cost-of-living/in/Accra'
response = requests.get(URL)

In [5]:
response.status_code

200

In [6]:
soup = BS(response.text)

In [7]:
soup.find('table', attrs={'class':'data_wide_table new_bar_table'})

<table class="data_wide_table new_bar_table"><tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-dining.svg"/>
</span>
<div class="category_title">Restaurants</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Accra&amp;country=Ghana&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FAccra&amp;current=0&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices" style="padding-left: 132px; text-align: left;">Range</th>
</tr>
<tr><td>Meal, Inexpensive Restaurant </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">4.17 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.89</span><span class="barLeft" style="width: 27px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 48px;"></span><span class="barTextRight">8.18</span></td>
</tr>
<tr><td class="tr_highlighted">Meal for 2 People, Mid-range Restaurant, Three-course </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">48.96 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
30.80</span><span class="barLeft" style="width: 21px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 45px;"></span><span class="barTextRight">86.59</span></td>
</tr>
<tr><td>McMeal at McDonalds (or Equivalent Combo Meal) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">6.82 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
5.73</span><span class="barLeft" style="width: 9px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 20px;"></span><span class="barTextRight">9.21</span></td>
</tr>
<tr><td class="tr_highlighted">Domestic Beer (1 pint draught) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.16 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.65</span><span class="barLeft" style="width: 25px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 55px;"></span><span class="barTextRight">2.23</span></td>
</tr>
<tr><td>Imported Beer (12 oz small bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">2.10 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.31</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 37px;"></span><span class="barTextRight">3.44</span></td>
</tr>
<tr><td class="tr_highlighted">Cappuccino (regular) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.56 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.24</span><span class="barLeft" style="width: 25px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 50px;"></span><span class="barTextRight">5.12</span></td>
</tr>
<tr><td>Coke/Pepsi (12 oz small bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">0.68 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.44</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 49px;"></span><span class="barTextRight">1.25</span></td>
</tr>
<tr><td class="tr_highlighted">Water (12 oz small bottle)  </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">0.27 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.17</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 37px;"></span><span class="barTextRight">0.44</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-grocery-store.svg"/>
</span>
<div class="category_title">Markets</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Accra&amp;country=Ghana&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FAccra&amp;current=1&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>Milk (regular), (1 gallon) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">10.91 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
6.49</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 30px;"></span><span class="barTextRight">16.56</span></td>
</tr>
<tr><td class="tr_highlighted">Loaf of Fresh White Bread (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.39 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.92</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 27px;"></span><span class="barTextRight">2.02</span></td>
</tr>
<tr><td>Rice (white), (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.00 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.60</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 48px;"></span><span class="barTextRight">1.81</span></td>
</tr>
<tr><td class="tr_highlighted">Eggs (regular) (12) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.29 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.50</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 30px;"></span><span class="barTextRight">3.48</span></td>
</tr>
<tr><td>Local Cheese (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">3.14 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.40</span><span class="barLeft" style="width: 13px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 63px;"></span><span class="barTextRight">11.39</span></td>
</tr>
<tr><td class="tr_highlighted">Chicken Fillets (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.11 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.05</span><span class="barLeft" style="width: 29px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 36px;"></span><span class="barTextRight">3.39</span></td>
</tr>
<tr><td>Beef Round (1 lb) (or Equivalent Back Leg Red Meat) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">2.40 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.01</span><span class="barLeft" style="width: 33px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 37px;"></span><span class="barTextRight">3.89</span></td>
</tr>
<tr><td class="tr_highlighted">Apples (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.15 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.45</span><span class="barLeft" style="width: 35px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 38px;"></span><span class="barTextRight">1.90</span></td>
</tr>
<tr><td>Banana (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">0.57 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.18</span><span class="barLeft" style="width: 34px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 41px;"></span><span class="barTextRight">1.02</span></td>
</tr>
<tr><td class="tr_highlighted">Oranges (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">0.81 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.31</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 52px;"></span><span class="barTextRight">1.87</span></td>
</tr>
<tr><td>Tomato (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.12 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.46</span><span class="barLeft" style="width: 34px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 29px;"></span><span class="barTextRight">1.66</span></td>
</tr>
<tr><td class="tr_highlighted">Potato (1 lb) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.09 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.47</span><span class="barLeft" style="width: 33px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 35px;"></span><span class="barTextRight">1.74</span></td>
</tr>
<tr><td>Onion (1 lb) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">0.86 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.40</span><span class="barLeft" style="width: 27px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 48px;"></span><span class="barTextRight">1.66</span></td>
</tr>
<tr><td class="tr_highlighted">Lettuce (1 head) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">0.67 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.30</span><span class="barLeft" style="width: 32px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 50px;"></span><span class="barTextRight">1.23</span></td>
</tr>
<tr><td>Water (1.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">0.52 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.35</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 42px;"></span><span class="barTextRight">0.89</span></td>
</tr>
<tr><td class="tr_highlighted">Bottle of Wine (Mid-Range) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">4.92 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
2.47</span><span class="barLeft" style="width: 28px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 27px;"></span><span class="barTextRight">7.15</span></td>
</tr>
<tr><td>Domestic Beer (0.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.15 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.87</span><span class="barLeft" style="width: 13px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 20px;"></span><span class="barTextRight">1.53</span></td>
</tr>
<tr><td class="tr_highlighted">Imported Beer (12 oz small bottle) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.72 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
0.89</span><span class="barLeft" style="width: 27px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 27px;"></span><span class="barTextRight">2.50</span></td>
</tr>
<tr><td>Cigarettes 20 Pack (Marlboro) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.62 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.53</span><span class="barLeft" style="width: 3px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 28px;"></span><span class="barTextRight">2.43</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-drive-eta.svg"/>
</span>
<div class="category_title">Transportation</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Accra&amp;country=Ghana&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FAccra&amp;current=2&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>One-way Ticket (Local Transport) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.00 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
0.71</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 22px;"></span><span class="barTextRight">1.38</span></td>
</tr>
<tr><td class="tr_highlighted">Monthly Pass (Regular Price) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">35.97 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
23.67</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 43px;"></span><span class="barTextRight">62.19</span></td>
</tr>
<tr><td>Taxi Start (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.95 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
1.04</span><span class="barLeft" style="width: 26px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 14px;"></span><span class="barTextRight">2.40</span></td>
</tr>
<tr><td class="tr_highlighted">Taxi 1 mile (Normal Tariff) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.71 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
1.29</span><span class="barLeft" style="width: 13px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 15px;"></span><span class="barTextRight">2.16</span></td>
</tr>
<tr><td>Taxi 1hour Waiting (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.74 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.91</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 32px;"></span><span class="barTextRight">8.88</span></td>
</tr>
<tr><td class="tr_highlighted">Gasoline (1 gallon) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">4.35 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
4.09</span><span class="barLeft" style="width: 3px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 12px;"></span><span class="barTextRight">5.34</span></td>
</tr>
<tr><td>Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">7,893.49 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
7,145.16</span><span class="barLeft" style="width: 5px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 70px;"></span><span class="barTextRight">19,252.70</span></td>
</tr>
<tr><td class="tr_highlighted">Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">12,294.65 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
8,484.88</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 51px;"></span><span class="barTextRight">23,103.24</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/envelope-letter.svg"/>
</span>
<div class="category_title">Utilities (Monthly)</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Accra&amp;country=Ghana&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FAccra&amp;current=3&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">49.39 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
29.95</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 47px;"></span><span class="barTextRight">89.31</span></td>
</tr>
<tr><td class="tr_highlighted">Mobile Phone Monthly Plan with Calls and 10GB+ Data </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">11.69 $</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
7.48</span><span class="barLeft" style="width: 21px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 41px;"></span><span class="barTextRight">20.00</span></td>
</tr>
<tr><td>Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">48.12 $</span></td>
<td class="priceBarTd">
<span class="barTextLeft">

In [8]:
cost_of_living_accra = pd.read_html(str(soup.find('table', attrs={'class':'data_wide_table new_bar_table'})))[0]

C:\Users\debor\AppData\Local\Temp\ipykernel_3864\2609643698.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  cost_of_living_accra = pd.read_html(str(soup.find('table', attrs={'class':'data_wide_table new_bar_table'})))[0]

In [9]:
cost_of_living_accra

,Restaurants,Edit,Range
0,"Meal, Inexpensive Restaurant",4.17 $,1.89-8.18
1,"Meal for 2 People, Mid-range Restaurant, Three...",48.96 $,30.80-86.59
2,McMeal at McDonalds (or Equivalent Combo Meal),6.82 $,5.73-9.21
3,Domestic Beer (1 pint draught),1.16 $,0.65-2.23
4,Imported Beer (12 oz small bottle),2.10 $,1.31-3.44
...,...,...,...
59,Price per Square Feet to Buy Apartment in City...,151.00 $,73.11-278.71
60,Price per Square Feet to Buy Apartment Outside...,"2,425.13 $","1,155.48-7,129.87"
61,Salaries And Financing,Edit,NaN
62,Average Monthly Net Salary (After Tax),182.05 $,NaN
63,"Mortgage Interest Rate in Percentages (%), Yea...",24.25,20.00-30.00

In [10]:
cost_of_living_accra.to_csv('Accra_Cost_of_Living.csv', index=False)

## Crime

In [12]:
URL = 'https://www.numbeo.com/crime/in/Accra'
response = requests.get(URL)

In [13]:
response.status_code

200

In [14]:
soup = BS(response.text)

In [15]:
soup.find('table', attrs={'class':'table_builder_with_value_explanations data_wide_table'})

In [16]:
crime = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

C:\Users\debor\AppData\Local\Temp\ipykernel_3864\3635083558.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  crime = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

In [17]:
crime

                                                    0   1      2          3
0                                      Level of crime NaN  45.60   Moderate
1                Crime increasing in the past 5 years NaN  56.76   Moderate
2               Worries home broken and things stolen NaN  46.20   Moderate
3                      Worries being mugged or robbed NaN  47.17   Moderate
4                                  Worries car stolen NaN  37.03        Low
5                      Worries things from car stolen NaN  48.64   Moderate
6                                    Worries attacked NaN  40.88   Moderate
7                              Worries being insulted NaN  35.82        Low
8   Worries being subject to a physical attack bec... NaN  23.90        Low
9               Problem people using or dealing drugs NaN  38.08        Low
10  Problem property crimes such as vandalism and ... NaN  47.53   Moderate
11  Problem violent crimes such as assault and arm... NaN  52.21   Moderate
12                     Problem corruption and bribery NaN  81.62  Very High

In [18]:
crime = crime.drop(columns = [1])

In [19]:
crime = crime.rename(columns = {0 : 'Types of Crime', 2: 'Crime%', 3: 'Value'})
crime

                                       Types of Crime  Crime%      Value
0                                      Level of crime   45.60   Moderate
1                Crime increasing in the past 5 years   56.76   Moderate
2               Worries home broken and things stolen   46.20   Moderate
3                      Worries being mugged or robbed   47.17   Moderate
4                                  Worries car stolen   37.03        Low
5                      Worries things from car stolen   48.64   Moderate
6                                    Worries attacked   40.88   Moderate
7                              Worries being insulted   35.82        Low
8   Worries being subject to a physical attack bec...   23.90        Low
9               Problem people using or dealing drugs   38.08        Low
10  Problem property crimes such as vandalism and ...   47.53   Moderate
11  Problem violent crimes such as assault and arm...   52.21   Moderate
12                     Problem corruption and bribery   81.62  Very High

In [20]:
crime.to_csv('Accra_crime.csv', index=False)

SAFETY IN ACCRA

In [22]:
safety = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

C:\Users\debor\AppData\Local\Temp\ipykernel_3864\2482010599.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  safety = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

In [23]:
safety = safety.drop(columns = [1])

In [24]:
safety = safety.rename(columns = {0 : 'Components of Safety', 2: 'Safety%', 3: 'Value'})
safety

                   Components of Safety  Safety%     Value
0  Safety walking alone during daylight    75.77      High
1     Safety walking alone during night    46.90  Moderate

In [91]:
safety.to_csv('Accra_safety.csv', index=False)

## Health Care

In [26]:
URL = 'https://www.numbeo.com/health-care/in/Accra'
response = requests.get(URL)

In [27]:
response.status_code

200

In [28]:
soup = BS(response.text)

In [29]:
soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})

<table class="table_builder_with_value_explanation data_wide_table">
<tr><th>Component of health care surveyed</th><th colspan="2">Satisfaction %</th><th></th></tr>
<tr><td class="columnWithName">Skill and competency of medical staff</td><td><div class="jquery_bar" id="skill_and_competency"></div></td><td class="indexValueTd" style="text-align: right">68.24</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Speed in completing examinations and reports</td><td><div class="jquery_bar" id="speed"></div></td><td class="indexValueTd" style="text-align: right">62.16</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Equipment for modern diagnosis and treatment</td><td><div class="jquery_bar" id="modern_equipment"></div></td><td class="indexValueTd" style="text-align: right">62.14</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Accuracy and completeness in filling out reports</td><td><div class="jquery_bar" id="accuracy_and_completeness"></div></td><td class="indexValueTd" style="text-align: right">60.14</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Friendliness and courtesy of the staff</td><td><div class="jquery_bar" id="friendliness_and_courtesy"></div></td><td class="indexValueTd" style="text-align: right">62.16</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Satisfaction with responsiveness (waitings) in medical institutions</td><td><div class="jquery_bar" id="responsiveness_waitings"></div></td><td class="indexValueTd" style="text-align: right">47.92</td><td class="hidden_on_small_mobile"><span class="yellow_neutral_standard">
Moderate</span></td></tr>
<tr><td class="columnWithName">Satisfaction with cost to you</td><td><div class="jquery_bar" id="cost"></div></td><td class="indexValueTd" style="text-align: right">43.24</td><td class="hidden_on_small_mobile"><span class="yellow_neutral_standard">
Moderate</span></td></tr>
<tr><td class="columnWithName">Convenience of location for you</td><td><div class="jquery_bar" id="location"></div></td><td class="indexValueTd" style="text-align: right">64.71</td><td class="hidden_on_small_mobile"><span class="green_light_standard">
High</span></td></tr>
</table>

In [30]:
health_care = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

C:\Users\debor\AppData\Local\Temp\ipykernel_3864\540973274.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  health_care = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

In [31]:
health_care = health_care.drop(columns = ['Satisfaction %'])
health_care

,Component of health care surveyed,Satisfaction %.1,Unnamed: 3
0,Skill and competency of medical staff,68.24,High
1,Speed in completing examinations and reports,62.16,High
2,Equipment for modern diagnosis and treatment,62.14,High
3,Accuracy and completeness in filling out reports,60.14,High
4,Friendliness and courtesy of the staff,62.16,High
5,Satisfaction with responsiveness (waitings) in...,47.92,Moderate
6,Satisfaction with cost to you,43.24,Moderate
7,Convenience of location for you,64.71,High

In [32]:
health_care = health_care.rename(columns = {'Satisfaction %.1' : 'Satisfaction %', 'Unnamed: 3': 'Value'})

In [33]:
health_care.to_csv('Accra_health_care.csv', index=False)

## Pollution

In [35]:
URL = 'https://www.numbeo.com/pollution/in/Accra'
response = requests.get(URL)

In [36]:
response.status_code

200

In [37]:
soup = BS(response.text)

In [38]:
soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})

<table class="table_builder_with_value_explanation data_wide_table">
<tr><td class="columnWithName">Air Pollution</td><td><div class="jquery_bar" id="air_pollution"></div></td><td class="indexValueTd" style="text-align: right">75.96</td><td class="hidden_on_small_mobile"><span class="red_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Drinking Water Pollution and Inaccessibility</td><td><div class="jquery_bar" id="drinking_water_pollution_and_inaccessibility"></div></td><td class="indexValueTd" style="text-align: right">65.31</td><td class="hidden_on_small_mobile"><span class="red_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Dissatisfaction with Garbage Disposal</td><td><div class="jquery_bar" id="dissatisfaction_garbage"></div></td><td class="indexValueTd" style="text-align: right">88.50</td><td class="hidden_on_small_mobile"><span class="red_standard">
Very High</span></td></tr>
<tr><td class="columnWithName">Dirty and Untidy</td><td><div class="jquery_bar" id="dissatisfaction_clean_and_tidy"></div></td><td class="indexValueTd" style="text-align: right">81.63</td><td class="hidden_on_small_mobile"><span class="red_standard">
Very High</span></td></tr>
<tr><td class="columnWithName">Noise and Light Pollution</td><td><div class="jquery_bar" id="noise_and_light_pollution"></div></td><td class="indexValueTd" style="text-align: right">73.33</td><td class="hidden_on_small_mobile"><span class="red_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Water Pollution</td><td><div class="jquery_bar" id="water_pollution"></div></td><td class="indexValueTd" style="text-align: right">90.22</td><td class="hidden_on_small_mobile"><span class="red_standard">
Very High</span></td></tr>
<tr><td class="columnWithName">Dissatisfaction with Spending Time in the City</td><td><div class="jquery_bar" id="uncomfotable_spend_time"></div></td><td class="indexValueTd" style="text-align: right">70.10</td><td class="hidden_on_small_mobile"><span class="red_light_standard">
High</span></td></tr>
<tr><td class="columnWithName">Dissatisfaction with Green and Parks in the City</td><td><div class="jquery_bar" id="dissatisfaction_green_and_parks"></div></td><td class="indexValueTd" style="text-align: right">79.69</td><td class="hidden_on_small_mobile"><span class="red_light_standard">
High</span></td></tr>
</table>

In [39]:
pollution = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]
pollution

C:\Users\debor\AppData\Local\Temp\ipykernel_3864\3919737023.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pollution = pd.read_html(str(soup.find('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[0]

                                                  0   1      2          3
0                                     Air Pollution NaN  75.96       High
1      Drinking Water Pollution and Inaccessibility NaN  65.31       High
2             Dissatisfaction with Garbage Disposal NaN  88.50  Very High
3                                  Dirty and Untidy NaN  81.63  Very High
4                         Noise and Light Pollution NaN  73.33       High
5                                   Water Pollution NaN  90.22  Very High
6    Dissatisfaction with Spending Time in the City NaN  70.10       High
7  Dissatisfaction with Green and Parks in the City NaN  79.69       High

In [40]:
pollution = pollution.drop(columns = [1])

In [41]:
pollution = pollution.rename(columns = {0 : 'Types of Pollution', 2: 'Pollution%', 3: 'Value'})
pollution

                                 Types of Pollution  Pollution%      Value
0                                     Air Pollution       75.96       High
1      Drinking Water Pollution and Inaccessibility       65.31       High
2             Dissatisfaction with Garbage Disposal       88.50  Very High
3                                  Dirty and Untidy       81.63  Very High
4                         Noise and Light Pollution       73.33       High
5                                   Water Pollution       90.22  Very High
6    Dissatisfaction with Spending Time in the City       70.10       High
7  Dissatisfaction with Green and Parks in the City       79.69       High

In [42]:
pollution.to_csv('Accra_pollution.csv', index=False)

In [43]:
purity = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]
purity

C:\Users\debor\AppData\Local\Temp\ipykernel_3864\1148478260.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  purity = pd.read_html(str(soup.findAll('table', attrs={'class':'table_builder_with_value_explanation data_wide_table'})))[1]

                                          0   1      2         3
0                               Air quality NaN  24.04       Low
1  Drinking Water Quality and Accessibility NaN  34.69       Low
2             Garbage Disposal Satisfaction NaN  11.50  Very Low
3                            Clean and Tidy NaN  18.37  Very Low
4    Quiet and No Problem with Night Lights NaN  26.67       Low
5                             Water Quality NaN   9.78  Very Low
6     Comfortable to Spend Time in the City NaN  29.90       Low
7                Quality of Green and Parks NaN  20.31       Low

In [44]:
purity = purity.drop(columns = [1])

In [45]:
purity = purity.rename(columns = {0 : 'Types of Purity', 2: 'Purity%', 3: 'Value'})
purity

                            Types of Purity  Purity%     Value
0                               Air quality    24.04       Low
1  Drinking Water Quality and Accessibility    34.69       Low
2             Garbage Disposal Satisfaction    11.50  Very Low
3                            Clean and Tidy    18.37  Very Low
4    Quiet and No Problem with Night Lights    26.67       Low
5                             Water Quality     9.78  Very Low
6     Comfortable to Spend Time in the City    29.90       Low
7                Quality of Green and Parks    20.31       Low

In [46]:
purity.to_csv('Accra_purity.csv', index=False)